@use "../base/variables" as *;
@use "../base/mixins" as *;

/* =========================
   Collapses (bloc parent)
   ========================= */
.about__collapses {
  display: grid;
  gap: 30px;
  margin-inline: auto;

  /* Desktop */
  @media (min-width: 769px) {
    width: 1023px;
  }

  /* Mobile/Tablette */
  @include respond(md) {
    width: 100%;
  }
}

/* Items : occupent toute la largeur du parent */
.about__collapses .collapse {
  width: 100%;
  margin: 0; 
}

/* =========================
   Bannière About (mobile)
   ========================= */
@media (max-width: 768px) {
  .about .about__banner {
    max-height: 111px;
    border-radius: 12px;
  }
}
