/* 1) Bannière */
.about__banner {
  margin-inline: auto;
  overflow: hidden;
  border-radius: 24px;
  height: clamp(180px, 24vw, 223px);
  width: min(95%, 1240px); /* 1240px, sinon 95% */
}

.about__banner img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 2) Collapses */
.about__collapses {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin: 24px auto 0;
  width: 100%;
  max-width: 1023px;
}

/* 3) Items */
.about__collapses .collapse {
  width: 100%;
  margin: 0;
}

.collapse__header {
  padding: 14px 20px;
  border-radius: 10px;
  justify-content: space-between;
}

/* ===== Breakpoints ===== */
@media (min-width: 768px) {
  .about__collapses {
    width: 64%;
  }
    .about__banner {
    max-width: 1240px;
  }
}

@media (max-width: 768px) {
  .about__banner {
    
    max-height: 111px;
    border-radius: 12px;
  }
  .about__collapses {
    width: 90%;
  }
}