@use "../base/variables" as *;
@use "../base/mixins" as *;

@media screen and (min-width: 375px){
    #content {
        max-width: 100%;
        --gutter : 16px;
    }

    .banner {
        width: 90%;
    }

    .card-grid {
        width: 90%;
    }

    .card {
        width: 90%;
    }
}