@use "../base/variables" as *;
@use "../base/mixins" as *;

.footer {
  background: $color-footer-bg;   /* noir (maquette) */
  color: $color-footer-text;      /* blanc */

  .footer__inner {
    @include container;           /* même largeur/gouttières que le header */
    min-height: 209px;            /* maquette desktop */
    padding-block: 32px;          /* air vertical interne */
    display: grid;
    place-items: center;          /* centre logo + texte */
    row-gap: 12px;
    text-align: center;
  }

  .footer__logo {
    height: 40px;
    width: auto;
    display: block;
  }

  .footer__copy {
    margin: 0;
    font-size: clamp(12px, 2.2vw, 18px);
    line-height: 1.2;
  }

  /* Mobile */
  @media (max-width: 480px) {
    .footer__inner {
    min-height: 209px;   /* maquette */
    padding-block: 32px; /* même air que le desktop, tu peux réduire à 24px si besoin */
  }
    .footer__logo { height: 32px; }
    .footer__copy { font-size: 14px; }
  }
}
