@use "../base/variables" as *;
@use "../base/mixins" as *;

.footer {
  background: $color-footer-bg;   
  color: $color-footer-text;      

  .footer__inner {
    @include container;           
    min-height: 209px;            
    padding-block: 32px;          
    display: grid;
    place-items: center;          
    row-gap: 12px;
    text-align: center;
  }

  .footer__logo {
    height: 40px;
    width: auto;
    display: block;
  }

  .footer__copy {
    margin: 0;
    font-size: clamp(12px, 2.2vw, 18px);
    line-height: 1.2;
  }

  /* Mobile */
  @media (max-width: 480px) {
    .footer__inner {
    min-height: 209px;   
    padding-block: 32px; 
  }
    .footer__logo { height: 32px; }
    .footer__copy { font-size: 14px; }
  }
}
