@use "../base/variables" as *;
@use "../base/mixins" as *;

.header {
  @include container;
  @include flex-between($space-3);
  padding-block: 40px;

  .logo img { height: 68px; }

  .nav {
    display: flex;
    gap: $space-3;

    a { text-transform: capitalize; }
    a.active { text-decoration: underline; }
  }

  @include respond(md) {
    padding-block: 20px;
    .logo img { height: 46px; }
  }
}
