@use "./base/variables" as *;
@use "./base/reset";
@use "./base/mixins" as *;

/* Layout */
@use "./layout/header";
@use "./layout/footer";

/* Components */
@use "./components/banner";
@use "./components/card";
@use "./components/collapse";
@use "./components/slideshow";

/* Pages */
@use "./pages/notfound";
@use "./pages/logement";

html, body, #root { height: 100%; }
html, body { overflow-x: hidden; }

body {
  margin: 0;
  font-family: $font-main;
  color: $color-text;
  background: $color-bg;
}

#root { min-height: 100vh; display: flex; flex-direction: column; }
.header { flex: 0 0 auto; margin: 0; }
.footer { flex: 0 0 auto; margin: 0; }      
main#content { flex: 1 0 auto; }

.container {
  @include container;                 
  max-width: 1240px;
}

@media (max-width: 480px) {
  .container { padding-left: 20px; padding-right: 20px; }
}