@use "./base/variables" as *;
@use "./base/reset";
@use "./base/mixins" as *;

@use "./layout/header";
@use "./layout/footer";

@use "./components/banner";
@use "./components/card";


html, body { font-family: $font-main; color: $color-text; background: $color-bg; }

main {
  @include container;
  padding-bottom: $space-4;
}


